<div class="wrapper">
  <div class="background-image"></div>
  <div class="container-fluid bg-primary">
    <div class="container bg-primary">
      <nav class="navbar navbar-expand-lg bg-primary">
        <div class="d-flex align-items-center w-100">
          <a href="#" class="navbar-brand text-white">TypeTest</a>
          <div class="d-flex ms-auto">
            <ul class="navbar-nav gap-3 ms-auto">
              <li>
                <a class="nav-link text-white" href="">Accueil</a>
              </li>
              <li>
                <a class="nav-link text-white" href="">Autres tests</a>
              </li>
              <li>
                <a class="nav-link text-white" href="">Support</a>
              </li>
          </ul>
          </div>
        </div>
    </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>